{% extends 'otoshimonoapp/base.html' %}

{% block contents %}
<div class="m-1">
    <img src="{{ MEDIA_URL }}{{ otoshimono.image }}" class="mb-1 mw-100" alt="ないよ">
    <div class="p-2">
        <h1>{{ otoshimono.obj_name }}</h1>
        <div class="date">
            {{ otoshimono.pub_date }}
        </div>
        <div class="place_found">
            {{ otoshimono.place_found }}
        </div>
    </div>
    <div class="px-2 mb-3" style="overflow: auto">
        <button class="btn btn-primary mx-1" onclick="history.back(-1)" style="float: right">戻る</button>
        <button type="button" class="btn btn-primary mx-1" style="float: right">見つかった</button>
    </div>
</div>
{% endblock %}